<a class="twitter-timeline" href="https://twitter.com/ThePracticalDev?ref_src=twsrc%5Etfw">Tweets by ThePracticalDev</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>